In [1]:
import pandas as pd
import json

In [ ]:
with open('informacoes.json', 'r', encoding='utf-8') as f:
    json_bruto = json.load(f)

In [3]:
json_bruto

{'nome': 'JoÃ£o',
 'idade': 28,
 'enderecos': [{'tipo': 'casa',
   'rua': 'Rua A',
   'numero': 123,
   'cidade': 'SÃ£o Paulo'},
  {'tipo': 'trabalho',
   'rua': 'Rua B',
   'numero': 456,
   'cidade': 'Rio de Janeiro'}]}

In [8]:
df = pd.json_normalize(json_bruto, record_path='enderecos', meta=['nome', 'idade'])
df

       tipo    rua  numero          cidade   nome idade
0      casa  Rua A     123      SÃ£o Paulo  JoÃ£o    28
1  trabalho  Rua B     456  Rio de Janeiro  JoÃ£o    28