In [1]:
import pandas as pd
import json

In [ ]:
with open('dados.json', 'r', encoding='utf-8') as j:
    json_bruto = json.load(j)

In [3]:
json_bruto

{'pessoas': [{'nome': 'JoÃ£o',
   'idade': '25',
   'endereco': {'rua': 'Rua A', 'numero': 123, 'cidade': 'SÃ£o Paulo'},
   'telefones': ['11 1111-1111', '11 2222-2222']},
  {'nome': 'Maria',
   'idade': 30,
   'endereco': {'rua': '', 'numero': 456, 'cidade': 'Rio de Janeiro'},
   'telefones': ['21 3333-3333']}]}

In [4]:
df = pd.json_normalize(json_bruto, record_path='pessoas')
df

,nome,idade,telefones,endereco.rua,endereco.numero,endereco.cidade
0,JoÃ£o,25,"[11 1111-1111, 11 2222-2222]",Rua A,123,SÃ£o Paulo
1,Maria,30,[21 3333-3333],,456,Rio de Janeiro

In [11]:
df = df.explode('telefones')
df

    nome  idade     telefones endereco.rua  endereco.numero endereco.cidade
0  JoÃ£o     25  11 1111-1111        Rua A              123      SÃ£o Paulo
0  JoÃ£o     25  11 2222-2222        Rua A              123      SÃ£o Paulo
1  Maria     30  21 3333-3333                           456  Rio de Janeiro

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 1
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nome             3 non-null      object
 1   idade            3 non-null      int64
 2   telefones        3 non-null      object
 3   endereco.rua     3 non-null      object
 4   endereco.numero  3 non-null      int64
 5   endereco.cidade  3 non-null      object
dtypes: int64(2), object(4)
memory usage: 168.0+ bytes

In [13]:
df['idade'] = df['idade'].astype(int)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 0 to 1
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nome             3 non-null      object
 1   idade            3 non-null      int64
 2   telefones        3 non-null      object
 3   endereco.rua     3 non-null      object
 4   endereco.numero  3 non-null      int64
 5   endereco.cidade  3 non-null      object
dtypes: int64(2), object(4)
memory usage: 168.0+ bytes

In [15]:
df_filtrado = df.query('`endereco.rua` != ""')
df_filtrado

    nome  idade     telefones endereco.rua  endereco.numero endereco.cidade
0  JoÃ£o     25  11 1111-1111        Rua A              123      SÃ£o Paulo
0  JoÃ£o     25  11 2222-2222        Rua A              123      SÃ£o Paulo

In [16]:
df_filtrado = df[df['endereco.rua'] != ""]